
<div class="new-pet">

  <h1>Create a Report Card for <%= @pet.name %> </h1>

  <%= form_tag "/report/:id" do %>
    <input type="hidden" name="report[sitter_id]" value="<%= current_user.id %>" />
    <%= text_field_tag "report[date]", nil, placeholder: "date", class: "date", :required => true  %>
    <br>
    <%= text_field_tag "report[activity]", nil, placeholder: "activity", class: "activity", :required => true  %>
    <br>
    <%= text_field_tag "report[image]", nil, placeholder: "image", class: "image", :required => true  %>
    <br>

    <%= submit_tag "Send Report" %>
  <%end%>

</div>
