<h1>Dashboard for <%= @pet.name %> </h1>

<% if @current_user.id == @pet.sitter_id %>
  <h4><%= link_to "Create Report", report_path %></h4>
<% end %>

<h2>Reports</h2>
<% @pet.reports.each do |r| %>
  <%= r.created_at %>
  <%= r.activity %>
  <% r.images.each do |i| %>
    <%= image_tag i.image_url.url(:square) %>
  <% end  %>
<% end  %>
