<h1><%= current_user.name %>'s PawPrints</h1>

<% if !current_user.user_roles.include?("sitter")%>
  <h5>I am also a sitter</h5>
<% end %>

<% if !current_user.user_roles.include?("owner")%>
  <a>I am also a pet owner</a>
<% end %>

<% if current_user.user_roles.include?("sitter")%>

  <div class ="sitterpage">
    <a class="client">Add new client</a>
    <div class="showit" style="display: none">
      <%= form_tag "/new-client" do %>
        <input type="hidden" name="role[role]" value="unregistered"/>
        <%= text_field_tag "user[name]", nil, placeholder: "name", class: "name", :required => true %>
        <%= email_field_tag "user[email]", nil, placeholder: "email", class: "email", :required => true %>
        <%= text_field_tag "user[phone]", nil, placeholder: "phone", class: "phone", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet", class: "pet", :required => true %>
        <!-- <%= text_field_tag "pet[breed]", nil, placeholder: "pet breed", class: "pet breed", :required => true %> -->
        <!-- <%= text_field_tag "pet[name]", nil, placeholder: "pet2", class: "pet2" %> -->
        <%= submit_tag "Add Client"%>
      <% end %>
    </div>
  <h2>My Clients</h2>
  <div class= "clients">
    <% if @clients.size >= 1 %>
      <% @clients.each do |p| %>
        <div class="deets">
          <% if p.pet %>
            <h3 class="pet">Pet: <%= link_to p.pet.name, "/pet/#{p.pet.id}", class: "pet" %>  </h3>
            <a class="little-button"><%= link_to "Create Report", "/report/#{p.pet.id}" %> </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class= "dashboard">
  <div class = "petdeets">
    <h3>Pet Dashboard for <span class="pet-name"></span> </h3>
    <a class="create-report" href="">Create Report</a>
    <h4>Owner:<span class="owner-name"></span></h4>
    <h4>Email:<span class="owner-email"></span></h4>
    <h4>Phone:<span class="owner-phone"></span></h4>
  </div>
  <h2>Reports</h2>
  <div class= "reportcard">

  </div>


</div>

<% end %>

<% if current_user.user_roles.include?("owner")%>
  <h3 class="add-pet">Add Pet</h3>
  <h3 class="show-form" style="display: none" >
    <%= form_tag "/new-pet" do %>
      <input type="hidden" name="pet[owner_id]" value="<%= current_user.id %>" />
      <%= text_field_tag "pet[name]", nil, placeholder: "name", class: "name", :required => true  %>
      <br>
      <%= text_field_tag "pet[breed]", nil, placeholder: "breed", class: "breed", :required => true  %>
      <br>
      <%= text_field_tag "pet[color]", nil, placeholder: "color", class: "color", :required => true  %>
      <br>
      <%= submit_tag %>
    <%end%>
  </h3>
  <div class="my-pets">
    <h2>My Pets</h2>
    <% @pets.each do |p|%>
      <h3>Pet: <%= link_to p.name, "/pet/#{p.id}"%> </h3>
    <% end %>
  </div>
  <div class="my-sitters">
    <h2>My Sitters</h2>
    <%= link_to "Find New Sitter", "/sitters" %>
      <% if @sitter_records %>
        <% @sitter_records.each do |s| %>
        <div>
            <%= link_to "#{s.sitter.name}", "/sitter-profile/#{s.sitter_id}" %>
        </div>
        <% end %>
      <% end %>
  </div>
<% end %>
