<h1 class="user-dash"><%= current_user.name %>'s Yappy Trails</h1>

<% if !current_user.user_roles.include?("sitter")%>
  <!-- <a>I am also a sitter</a> -->
<% end %>

<% if !current_user.user_roles.include?("owner")%>
  <!-- <a>I am also a pet owner</a> -->
  <!-- <%= link_to "Edit Profile", "/sitter-profile/#{@current_user.id}/edit" %> -->
<% end %>

<% if current_user.user_roles.include?("sitter")%>
  <!-- <div class ="sitterpage">
  <div class= "clients">
    <h2>My Clients</h2>
    <a class="client">Add new client</a>
    <div class="showit" style="display: none">
      <%= form_tag "/new-client" do %>
        <input type="hidden" name="role[role]" value="unregistered"/>
        <%= text_field_tag "user[name]", nil, placeholder: "owner name", class: "name", :required => true %>
        <%= email_field_tag "user[email]", nil, placeholder: "owner email", class: "email", :required => true %>
        <%= text_field_tag "user[phone]", nil, placeholder: "owner phone", class: "phone", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet name", class: "pet", :required => true %>
        <%= text_field_tag "pet[breed]", nil, placeholder: "pet breed", class: "pet breed", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet2", class: "pet2" %>
        <%= submit_tag "Add Client"%>
      <% end %>
    </div>
    <% if @clients.size >= 1 %>
      <% @clients.each do |p| %>
        <div class="deets">
          <% if p.pet %>
            <h3 class="pet">Pet: <%= link_to p.pet.name, "/pet/#{p.pet.id}", class: "pet" %>  </h3>
            <a class="little-button"><%= link_to "Create Report", "/report/#{p.pet.id}", class:"little" %> </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class= "dashboard">
    <div class = "petdeets">
      <h3><span class="pet-name"></span> </h3>
      <a class="create-report" href=""></a>
      <div class="owner-info">
        <div class="left">
          <h4><span class="owner-name"></span></h4>
          <h4><span class="owner-email"></span></h4>
          <h4><span class="owner-phone"></span></h4>
        </div>
        <img class="pet-photo" src=""></h4>
      </div>
    </div>
    <h2>Reports</h2>
    <div class= "reportcard">

    </div>

  </div>
</div> -->
 <!-- <div class="grid-items-lines">
  <a href="javascript:void(0)" class="grid-item">

    <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt=""> -->
    <!-- <h1>My Clients</h1>
    <a class="client">Add new client</a>
    <div class="showit" style="display: none">
      <%= form_tag "/new-client" do %>
        <input type="hidden" name="role[role]" value="unregistered"/>
        <%= text_field_tag "user[name]", nil, placeholder: "owner name", class: "name", :required => true %>
        <%= email_field_tag "user[email]", nil, placeholder: "owner email", class: "email", :required => true %>
        <%= text_field_tag "user[phone]", nil, placeholder: "owner phone", class: "phone", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet name", class: "pet", :required => true %>
        <%= text_field_tag "pet[breed]", nil, placeholder: "pet breed", class: "pet breed", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet2", class: "pet2" %>
        <%= submit_tag "Add Client"%>
      <% end %>
    </div>
    <% if @clients.size >= 1 %>
      <% @clients.each do |p| %>
        <div class="">
          <% if p.pet %>
            <h3 class="pet">Pet: <%= link_to p.pet.name, "/pet/#{p.pet.id}", class: "pet" %>  </h3>
            <a class="little-button"><%= link_to "Create Report", "/report/#{p.pet.id}", class:"little" %> </a>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big dashboard petdeets">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
    <h1>Wider Grid Item</h1>
        <h3><span class="pet-name"></span> </h3>
        <a class="create-report" href=""></a>
        <div class="owner-info">
          <div class="left">
            <h4><span class="owner-name"></span></h4>
            <h4><span class="owner-email"></span></h4>
            <h4><span class="owner-phone"></span></h4>
          </div>
          <img class="pet-photo" src=""></h4>
        </div>
      </div>
      <h2>Reports</h2>
      <div class= "reportcard">

      </div>

    </div>
  </a>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div> -->



<div class="side-image">
  <div class="images-wrapper">
    <h1>My Clients</h1>
    <a class="client">Add new client</a>
    <div class="showit" style="display: none">
      <%= form_tag "/new-client" do %>
        <input type="hidden" name="role[role]" value="unregistered"/>
        <%= text_field_tag "user[name]", nil, placeholder: "owner name", class: "name", :required => true %>
        <%= email_field_tag "user[email]", nil, placeholder: "owner email", class: "email", :required => true %>
        <%= text_field_tag "user[phone]", nil, placeholder: "owner phone", class: "phone", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet name", class: "pet", :required => true %>
        <%= text_field_tag "pet[breed]", nil, placeholder: "pet breed", class: "pet breed", :required => true %>
        <%= text_field_tag "pet[name]", nil, placeholder: "pet2", class: "pet2" %>
        <%= submit_tag "Add Client"%>
      <% end %>
    </div>
    <% if @clients.size >= 1 %>
      <% @clients.each do |p| %>
        <div class="">
          <% if p.pet %>
            <h3 class="pet">Pet: <%= link_to p.pet.name, "/pet/#{p.pet.id}", class: "pet" %>  </h3>
            <a class="little-button"><%= link_to "Create Report", "/report/#{p.pet.id}", class:"little" %> </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="side-image-content">
      <h4>BLAH BLAH</h4>
      <h1><span class="pet-name"></span></h1>
      <a class="create-report" href=""></a>
      <div class="owner-info">
        <div class="left">
          <h4><span class="owner-name"></span></h4>
          <h4><span class="owner-email"></span></h4>
          <h4><span class="owner-phone"></span></h4>
        </div>
        <img class="pet-photo" src=""></h4>
      </div>

      <div class= "reportcard">

        

      </div>
    </div>

  </div>
</div>


<% end %>

<% if current_user.user_roles.include?("owner")%>
  <div class= "ownerpage">
    <a class="add-pet">Add Pet</a>
    <h3 class="show-form" style="display: none" >
      <%= form_tag "/new-pet", multipart: true do %>
        <input type="hidden" name="pet[owner_id]" value="<%= current_user.id %>" />
        <%= text_field_tag "pet[name]", nil, placeholder: "name", class: "name", :required => true  %>
        <br>
        <%= text_field_tag "pet[breed]", nil, placeholder: "breed", class: "breed", :required => true  %>
        <br>
        <%= text_field_tag "pet[color]", nil, placeholder: "color", class: "color", :required => true  %>
        <br>
        <%= label_tag "Upload Photo" %>
        <%= file_field_tag "pet[picture]" %>
        <%= submit_tag "Add Pet" %>
      <%end%>
    </h3>
    <div class="my-pets">
      <h2>My Pets</h2>
      <% @pets.each do |p|%>
        <h3 class="pet2"><%= p.name%> </h3>
      <% end %>

    <div class="my-sitters">
      <h2>My Sitters</h2>
      <%= link_to "Find New Sitter", "/sitters" %>
        <% if @my_sitters %>
          <% @my_sitters.each do |s| %>
          <div>
              <%= link_to "#{s.sitter.name}", "/sitter-profile/#{s.sitter.id}" %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>


    <% if @pets.count > 1 %>
      <div class= "dboards">
        <% @pets.in_groups_of(2, false).each do |group| %>
        <div class="animals">
          <% group.each do |pet| %>
            <div class="sitter-row">
              <h3 class ="p-name">Dashboard for <%= pet.name %> </h3>
              <div class="petpic"><%= image_tag pet.picture.url(:profile) %> </div>
              <div class= "reportcard">
                <% pet.reports.reverse.each do|r| %>
                <div class= "individual">
                  <h2>Report for <%= r.created_at.strftime("%A, %b %d") %> </h2>
                  <p>Sitter: <%= link_to "#{r.sitter.name}", "/sitter-profile/#{r.sitter.id}"  %> </p>
                  <div class= "activity">
                    <p> <%= r.pet.name %> spent a large part of the day <%= r.activity %>. The day was filled with lots of excitement and <%= r.pet.name %> was <%= r.emotion %> most of the day.</p>
                  </div>
                  <div class= "images">
                    <% r.images.each do |i| %>
                      <%= image_tag i.image_url.url(:image) %>
                    <% end  %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
    </div>
    <% else %>
    <div class= "dboards">
    <% @pets.each do |p| %>
    <div class="animals">
      <div class= "animal-info">
        <h3 class="p-name">Dashboard for <%= p.name %> </h3>
        <div class="petpic"><%= image_tag p.picture.url(:profile) %> </div>
      </div>
          <div class= "reportcard">
            <% p.reports.reverse.each do|r| %>
            <div class= "individual">
              <h2>Report for <%= r.created_at.strftime("%A, %b %d") %> </h2>
              <p>Sitter: <%= link_to "#{r.sitter.name}", "/sitter-profile/#{r.sitter.id}"  %> </p>
              <div class= "activity">
                <p> <%= r.pet.name %> spent a large part of the day <%= r.activity %>. The day was filled with lots of excitement and <%= r.pet.name %> was <%= r.emotion %> most of the day.</p>
              </div>
              <div class= "images">
                <% r.images.each do |i| %>
                  <%= image_tag i.image_url.url(:image) %>
                <% end  %>
              </div>
            </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
    </div>
</div>
<% end %>
