<h2><%= @sitter.name %></h2>
<h3><%= @sitter.email %></h3>
<%= gravatar_for "#{@sitter.email}" %>
<h3><%= @sitter.phone %></h3>
<h3><%= @sitter.bio %></h3>



<% if current_user == @sitter %>
  <a><%= link_to "Edit Profile", "#" %></a>
<% else %>
  <h2><%= form_tag "/select-sitter/#{@sitter.id}" %> </h2>
  <%= submit_tag "Select #{@sitter.name} as your sitter" %>
<% end %>
