<div class="new-pet">

  <h1>Create a Pet Profile!</h1>

  <%= form_tag "/new-pet" do %>
    <input type="hidden" name="pet[owner_id]" value="<%= current_user.id %>" />
    <%= text_field_tag "pet[name]", nil, placeholder: "name", class: "name", :required => true  %>
    <br>
    <%= text_field_tag "pet[breed]", nil, placeholder: "breed", class: "breed", :required => true  %>
    <br>
    <%= text_field_tag "pet[color]", nil, placeholder: "color", class: "color", :required => true  %>
    <br>

    <%= submit_tag %>
  <%end%>

</div>
