<div class="new-pet">

  <h1>Create a Pet Profile!</h1>

  <!-- this logic nees to be fixed. Doesn't work if someone is owner AND sitter -->
  <%= form_tag "/new-pet" do %>
    <% if current_user.roles.include?("owner") %>
      <input type="hidden" name="pet[owner_id]" value="<%= current_user.id %>" />
    <% elsif current_user.roles.include?("sitter") %>
      <input type="hidden" name="pet[owner_id]" value="<%= current_user.id %>" />
    <% else %>
      <input type="hidden" name="pet[unregistered_id]" value="<%= current_user.id %>" />
    <%end%>
    <%= text_field_tag "pet[name]", nil, placeholder: "name", class: "name", :required => true  %>
    <br>
    <%= text_field_tag "pet[breed]", nil, placeholder: "breed", class: "breed", :required => true  %>
    <br>
    <%= text_field_tag "pet[color]", nil, placeholder: "color", class: "color", :required => true  %>
    <br>

    <%= submit_tag %>
  <%end%>

</div>
