<!DOCTYPE html>
<html>
<head>
  <title>Pawprints</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<% if current_page?("/") %>
  <body class="background">
<% elsif current_page?("/new-sitter") %>
    <body class="background">
<% elsif current_page?("/new-owner") %>
    <body class="background">
    <% else %>
    <body>
<% end %>


  <div class="page-wrap">
    <div class="header">
      <%= link_to image_tag("paws2.png"), root_path, class: "icon" %>
      <ul class="nav">
        <% if !@current_user %>
          <li><button class= "notblue"><%= link_to "Sign In", "/user-sign-in" %></button></li>
        <% else %>
          <li><button class= "notblue"><%= link_to "Sign Out", sign_out_path %></button></li>
          <li><button class= "notblue"><%= link_to "My Dashboard", "/account/#{@current_user.id}" %></button></li>
          <% if @current_user.user_roles.include?("sitter") %>
            <li><button class= "notblue"><%= link_to "View My Profile", "/sitter-profile/#{@current_user.id}" %></button></li>
          <% end %>
        <% end %>
      </ul>
  </div>

  <% if flash.key?(:notice) %>
    <div class = 'flash-alert'>
      <%= flash[:notice] %>
    </div>
  <% end %>

<%= yield %>

<footer class="footer" role="contentinfo">
    <ul>
      <li><%= link_to "About Yappy Trails Club", about_path %></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
</footer>



</div>

</body>
</html>
