<!DOCTYPE html>
<html>
<head>
  <title>Pawprints</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-wrap">
  <div class="wrap">
    <div id="header">
      <!-- <%= link_to image_tag("logo.jpg"), root_path %> -->
      <ul class="nav">
        <% if !@current_user %>
          <li><button class= "notblue"><%= link_to "Sign Up", new_owner_path %></button></li>
          <li><button class= "notblue"><%= link_to "Sign In", "/user-sign-in" %></button></li>
        <% else %>
          <li><button class= "notblue"><%= link_to "Sign Out", sign_out_path %></button></li>
          <li><button class= "notblue"><%= link_to "My Account", "/account/#{@current_user.id}" %></button></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if flash.key?(:notice) %>
    <div class = 'flash-alert'>
      <%= flash[:notice] %>
    </div>
  <% end %>

<%= yield %>

</div>

</body>
</html>
